reposcope.myrepo.xyz {
	encode zstd gzip
	reverse_proxy app:3000
}

hamma.myrepo.xyz {
	encode zstd gzip
	reverse_proxy hamma-website:3000
}

perkfit.myrepo.xyz {
	encode zstd gzip
	reverse_proxy perkfit-app:3000
}
